.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
}

.header{
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url('../../images/blog/b1.jpg'),no-repeat center center;
    background-position: center;
    background-size: cover;
    min-height: 430px;
}

.heading-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}

.heading-wrapper h3{
    color: white;
    line-height: 1.5;
    font-size: 3.5rem;
    margin-bottom: 12px;
    
}

.heading-wrapper div{
    display: inline-flex;
}

.heading-wrapper div p{
    margin-top: 0;
    color: white;
    font-size: 16px;
}

.heading-wrapper div i{
    padding-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
}

.search-container{
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    margin-bottom: 50px;
}

.search-form{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.search h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
}

.search-form input,
select {
    width: 30%;
    color: black;
    height: 40px;
    border: 1px solid #fff;
    font-size: 18px;
}

.search-form button {
    position: relative;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 120px;
    color: black;
    font-size: 20px;
    border: 1px solid rgb(214, 209, 209);
}

.search-list {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.btn-search{
    background-color: green;
    color: white;
}

.no-match {
    background: rgba(0, 0, 0, 0.703);
    display: inline-block;
    width: 60%;
    height: 100px;
    margin-top: 5%; 
    color: white;
    border: 1px solid white;
}

.no-match p {
    font-size: 30px;
    text-align: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.container-blog{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.row-left-section{
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.mt-5{
    margin-top: 65px;
}
.blogs{
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 1.5rem;
    padding-bottom: .5rem;
}
.single-blog-item{
    margin-bottom: 30px;
    box-shadow: 0 0px 5px rgba(71,71,71,.2);
    -webkit-transition: .3s; 
    -moz-transition:.3s; 
    -ms-transition:.3s; 
    -o-transition:.3s;
    transition: .3s;
}
.single-blog-item-img img{
    width: 100%;
}
.single-blog-item-txt {padding:  25px 28px 27px;}
.single-blog-item-txt h2 a {text-transform:  initial;line-height: 1.8;}
.single-blog-item-txt h4 {
    font-size:  14px;
    color:  #8f949d;
    font-weight:  400;
    margin: 12px 0 20px;
}
.single-blog-item-txt h4 a {
    font-size:  14px;
    padding-right:  14px;
    border-right: 1px solid #dde0e4;
    margin-right:  15px;
    text-transform: uppercase;
}

.single-blog-item:hover h2 a {color:#ff545a;}
.single-blog-item:hover{
    box-shadow: 0 10px 20px rgba(21,19,19,.4);
}

.row-right-section{
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}


.row-right-section h4{
    line-height: 1.2;
    color: #212121;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 0;
} 
.categories-container div{
    padding: 30px;
    background-color: #fff;
}
.categories-list{
    padding-left: 0;
    list-style: none;
    margin: 0;
}
.categories-list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.categories-list-item a{
    text-decoration: none;
    background-color: transparent;
    color: #212121;
}
.categories-list-item a i{
    color: #7ab730;
    font-weight: 900;
    margin-right: .5rem;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.categories-list-item span{
    display: inline-block;
    padding: .25em .4em;
    padding-right: 0.4em;
    padding-left: 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding-right: .6em;
    padding-left: .6em;
    color: #fff;
    background-color: #7ab730;
}

.rescent-post{
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #7ab730;
}
.post-img{
    width: 100%;
    height: auto;
}
.rescent-post div{
    padding-left: 1rem;
}
.rescent-post div h6{
    padding-left: 1rem;
}
.rescent-post div small{
    padding-left: 1rem;
}